- content_for :header_tags do
  = javascript_pack_tag 'admin', async: true, crossorigin: 'anonymous'
- content_for :page_title do
  = t('settings.membership_subscriptions')

- if @show_form
  %h3= t('memberships.cert')
  = simple_form_for @form, url: memberships_path, html: { method: :post, class: 'add-form-cert', novalidate: false } do |f|
    .fields-row
      .fields-row__column.fields-group.fields-row__column-6
        = f.input :license_id, wrapper: :with_label, label: t('memberships.flag'), required: true, hint: @url.html_safe,input_html: { pattern: '^(L[a-zA-Z0-9_]*)$', title: t('memberships.license_id_check_message') }
    .actions
      = f.button :button, t('memberships.save'), type: :submit, class: 'button'

- elsif @SHOW_PLT
  .membership-plt-info
    %span #{t('memberships.plt_message')}
- else
  .membership-cert-info
    .div
      .content
        %span #{t('settings.membership_subscriptions')}
        %span #{t('memberships.license_id')}: #{@user_memberships.license_id} (#{t("memberships.dont_lieout_licenseinfo")})
        %span #{t('memberships.status')}: #{@status}
        %span #{t('memberships.owner_nickname')}: #{@owner_nickname}
        %span #{t('memberships.valid_time')}: #{@valid_time}
        %span #{t('memberships.bind_time')}: #{@user_memberships.created_at.strftime("%Y-%m-%d %H:%M:%S")}
        %span #{t('memberships.syc_time')}: #{@user_memberships.updated_at.strftime("%Y-%m-%d %H:%M:%S")}
        = link_to("https://store.chatopera.com/license/#{@user_memberships.license_id}", html_options = {target: "_blank", style: "color: white;"}) do
          %span #{t('memberships.license_more_details')}
      = simple_form_for @form, url: memberships_path, html: {method: :patch, id: 'update_memberships' } do |f|
        = f.hidden_field :license_id, value: @user_memberships.license_id
      = button_tag t('memberships.refresh'), class: 'button', form: 'update_memberships'
      = simple_form_for @form, url: memberships_path, html: {method: :delete, id: 'delete_memberships' } do |f|
        = f.hidden_field :license_id, value: @user_memberships.license_id
      = button_tag t('memberships.cancel'), class: 'button', form: 'delete_memberships'
