- content_for :page_title do
  = t('settings.membership_subscriptions')

- content_for :header_tags do
  = javascript_pack_tag 'admin', async: true, crossorigin: 'anonymous'

- if @show_form
  %h3= t('memberships.cert')
  = simple_form_for @form, url: memberships_path, html: { method: :post, class: 'add-form-cert', novalidate: false } do |f|
    .fields-row
      .fields-row__column.fields-group.fields-row__column-6
        = f.input :license_id, wrapper: :with_label, label: t('memberships.flag'), required: true, hint: t('memberships.tip')
    .actions
      = f.button :button, t('memberships.save'), type: :submit, class: 'button'

- else
  .membership-cert-info
    .div-button
      .content
        %span #{t('settings.membership_subscriptions')}
        %span #{t('memberships.syc_time')}: #{@user_memberships.updated_at.strftime("%Y-%m-%d %H:%M:%S")}
        %span #{t('memberships.license_id')}: #{@user_memberships.license_id}
        %span #{t('memberships.status')}: status
        %span #{t('memberships.bind_time')}: #{@user_memberships.created_at.strftime("%Y-%m-%d %H:%M:%S")}
        %span #{t('memberships.valid_time')}: valid_time
      = button_to t('memberships.refresh'), refresh_memberships_path, method: :put, class: 'button-class'
      = button_to t('memberships.cancel'), cancel_memberships_path, method: :delete, class: 'button-class'

